@import url("https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto:ital,wght@0,100;0,400;1,500&family=Sono&display=swap");
/* 
font-family: 'Orbitron', sans-serif;     - regular-400
font-family: 'Roboto', sans-serif;       - regular-400
font-family: 'Sono', sans-serif;         - thin-100 , regular-400 , medium-500-italic 
*/

:root {
  --clr-primary: #232533;
  --clr-secondary: #323444;
  --clr-third: #404457;
  --clr-blue: #5b85f9;
  --clr-yellow: #fad00c;
  --clr-neutral: #eceaed;

  --ff-roboto: "Roboto", sans-serif;
  --ff-orbitron: "Orbitron", sans-serif;
  --ff-sono: "Sono", sans-serif;

  --fw-regular: 400;
  --fw-thin: 100;
}
* {
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* ------------------------------------- */
.carousel {
  position: relative;
  margin: 0 auto;
  height: 800px;
  width: 80%;
}

.carousel__track-container {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.carousel__track {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
  transition: transform 450ms ease;
}
/* ------------------------------------- */
.carousel__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.carousel__slide {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
}
/* ------------------------------------- */
.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  z-index: 3;
  border: 0;
  background-color: rgba(0, 0, 0, 0.12);
  border-radius: 0.4rem;
  cursor: pointer;
  color: black;
  padding-inline: 8px;
  display: block;
  transition: all 200ms;
}
.carousel__button:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.22);
}
.carousel__button--left {
  left: -30px;
}
.carousel__button--right {
  right: -30px;
}
.carousel__button i {
  font-size: 21px;
}
/* ------------------------------------- */
.carousel__nav {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
.carousel__indicators {
  cursor: pointer;
  margin: 0 10px;
  background-color: rgba(0, 0, 0, 0.3);
  border: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
/* ------------------------------------- */
.carousel__nav [data-current] {
  background-color: rgba(0, 0, 0, 0.75);
  cursor: default;
}
[data-hidden] {
  display: none;
}
/* ------------------------------------- */
